[submodule "sbenv"]
	path = sbenv
	url = https://github.com/openmined/sbenv
[submodule "bioscript"]
	path = bioscript
	url = https://github.com/OpenMined/bioscript
[submodule "syftbox-sdk"]
	path = syftbox-sdk
	url = https://github.com/OpenMined/syftbox-sdk.git
[submodule "biovault-beaver"]
	path = biovault-beaver
	url = git@github.com:OpenMined/biovault-beaver.git
