[submodule "syftbox"]
	path = syftbox
	url = https://github.com/OpenMined/syftbox
[submodule "sbenv"]
	path = sbenv
	url = https://github.com/openmined/sbenv
[submodule "bioscript"]
	path = bioscript
	url = https://github.com/OpenMined/bioscript
[submodule "syft-crypto-core"]
	path = syft-crypto-core
	url = https://github.com/OpenMined/syft-crypto-core
